<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="SimpleLogFile" />

       ~1~<logger name="*" minlevel="Debug" writeTo="RollingSizeLogFileTarget" /> @1@
    </rules>

    <targets>
      <target name="SimpleLogFile" type="File"
              fileName="C:\Development\Logging Frameworks POC\net-logging-frameworks-performance-test\logs\NLog.SimpleFile.log"
              keepFileOpen="true"
              layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadname}] ${level:uppercase=true} ${logger} - ${message}" />

      <target name="RollingSizeLogFileTarget" type="File"
              fileName="C:\Development\Logging Frameworks POC\net-logging-frameworks-performance-test\logs\NLog.RollingSizeFile.log"
              keepFileOpen="true"
              archiveNumbering="Rolling"
              maxArchiveFiles="20"
              archiveAboveSize="52428800"
              archiveFileName="C:\Development\Logging Frameworks POC\net-logging-frameworks-performance-test\logs\archived\NLog.RollingSizeFile.log" 
              layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadname}] ${level:uppercase=true} ${logger} - ${message}" />
    </targets>
  </nlog>-->
  
</configuration>